/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (max-width: 640px) {
  /* line 7, ../sass/app.scss */
  body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 22px;
  }

  /* line 12, ../sass/app.scss */
  .head {
    width: 100%;
    height: 100px;
    top: 0;
    position: fixed;
  }
  /* line 17, ../sass/app.scss */
  .head img {
    width: 100%;
    height: auto;
  }

  /* line 22, ../sass/app.scss */
  .content {
    color: #7a7878;
    position: relative;
    text-align: center;
    margin-top: 90%;
  }
  /* line 27, ../sass/app.scss */
  .content input {
    display: block;
    text-align: center;
    border: 1px solid #7a7878;
    height: 60px;
    width: 80%;
    margin: 20px 10px;
    margin-left: 8%;
    font-size: 22px;
    background: #e4e2e2;
    color: #7a7878;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 41, ../sass/app.scss */
  .content .boutons {
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
  }
  /* line 46, ../sass/app.scss */
  .content .btn {
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 32%;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 100%;
  }
  /* line 54, ../sass/app.scss */
  .content .btn-transparent {
    border: 1px solid #31b36f;
    background: #31b36f;
    color: #fff;
  }
  /* line 58, ../sass/app.scss */
  .content .btn-transparent:hover {
    background: #fff;
    color: #31b36f;
  }
  /* line 63, ../sass/app.scss */
  .content .text {
    margin-top: 50px;
    font-size: 16px;
    text-decoration: underline;
  }
  /* line 68, ../sass/app.scss */
  .content .signup img {
    width: 80%;
    margin-top: 50px;
  }
}
