/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (max-width: 640px) {
  /* line 9, ../sass/app.scss */
  body {
    font-family: 'Open Sans', sans-serif;
    /*text-align: center;*/
  }

  /* line 15, ../sass/app.scss */
  .head {
    width: 100%;
    height: 150px;
    background-color: #30b371;
    top: 0;
    position: absolute;
  }
  /* line 23, ../sass/app.scss */
  .head img {
    float: left;
    position: relative;
  }
}

/*
 *  costom css
 */
@font-face{
  font-family: san-frediano-bold;
  src: url("../font/san-frediano-bold.otf");
}
@font-face{
  font-family: san-frediano-regular;
  src: url("../font/san-frediano-regular.otf");
}
 /*
  * header
  */
 body{
  background-image: url('../img/back.png');
  font-family: 'Open Sans', sans-serif;
 }
.head-mini{
  width: 100%;
  height: 100px;
  background-color: #292b2a;
  top: 0;
  position: absolute;
  /*text-align: center;*/
  border:none;
  white-space: nowrap;
}
.hlogo{
  display: inline-block;
  width: 328px;
  height: 98px;
  /*padding-top: 26px;*/
  position: relative;
  top:22px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  border:none;
}

.head-left, .head-right{
  display: inline-block;
  width: 152px;
  height: 100px;
  border:none;
}

.btn{
  width:60px;
  height: 40px;
  margin:30px;
  background: none;
  border:none;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

button.menu{
  background-image: url('../img/menu-white.png');
  background-size: 40px 30px;
}
button.settings{
  background-image: url('../img/settings-white.png');
  background-size: 40px 40px;
}

button.btn:active, button.btn:active{
  border: solid thin #fff;
  border-radius: 3px;
  outline: none;
}
button.btn:focus, button.btn:focus{
  outline: none;
}

/*
 *  app body
 */
.body{
  font-family: san-frediano-bold;
  position: fixed;
  top: 100px;
  width: 640px;

}
button.back{
  background-image: url('../img/arrow.png');
  background-size: 40px 40px;
}
.body-text{
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
.body-text>span{
  display: inline-block;
}

.body-text>span.img{
  display: inline-block;
  background-image: url('../img/logoChallenge.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 115px 115px;*/
  width:115px;
  height: 115px;
  content: "";
}

.body-bubble{
  width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
}

.chal{
  width: 600px;
  height: 90px;
  background: #30b26e;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-family: san-frediano-regular;
  font-size: 1.7em;
  line-height: 90px;
}
button.chal:active, button.chal:active{
  -webkit-box-shadow:inset 0 0 105px 0 #1e8cd6;
  box-shadow:inset 0 0 105px 0 #1e8cd6;
  border-radius: 3px;
  outline: none;
}
button.chal:focus, button.chal:focus{
  outline: none;
}

.chal-name{
  color: #fff;
}

/*chal-name
chal-point*/