 line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (max-width: 640px) {
  /* line 9, ../sass/app.scss */
  body {
    font-family: 'Open Sans', sans-serif;
    /*text-align: center;*/
  }

  /* line 15, ../sass/app.scss */
  .head {
    width: 100%;
    height: 150px;
    background-color: #30b371;
    top: 0;
    left:0;
    position: fixed;
  }
  /* line 23, ../sass/app.scss */
  .head .menu {
/*    width: 15px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;*/
  }

/*
 *  costom css
 */
@font-face{
  font-family: san-frediano-bold;
  src: url("../font/san-frediano-bold.otf");
}
@font-face{
  font-family: san-frediano-regular;
  src: url("../font/san-frediano-regular.otf");
}
 /*
  * header
  */
 body{
  background-image: url('../img/back.png');
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
 }
 a{
  color: #FFF;
  text-decoration: none;
 }
.head-mini{
  width: 100%;
  height: 100px;
  background-color: #292b2a;
  top: 0;
  left:0;
  position: absolute;
  /*text-align: center;*/
  border:none;
  white-space: nowrap;
  z-index: 11;
}
.hlogo{
  display: inline-block;
  width: 58%;
  height: 100px;
  /*padding-top: 26px;*/
  position: relative;
  top:22px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  border:none;
}

.head-left, .head-right{
  display: inline-block;
  width: 20%;
  height: 100px;
  border:none;
}

.btn{
  width:60px;
  height: 40px;
  margin:30px;
  background: none;
  border:none;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

button.menu{
  background-image: url('../img/menu-white.png');
  background-size: 40px 30px;
}
button.settings{
  background-image: url('../img/settings-white.png');
  background-size: 40px 40px;
}

button.btn:active, button.btn:active{
  border: solid thin #fff;
  border-radius: 3px;
  outline: none;
}
button.btn:focus, button.btn:focus{
  outline: none;
}

/*
 *  app body
 */
.body{
  font-family: san-frediano-bold;
  position: fixed;
  top: 100px;
  left:0;
  width: 100%;  
}
button.back{
  background-image: url('../img/arrow.png');
  background-size: 40px 40px;
}
.body-text{
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
.body-text>span{
  display: inline-block;
}

.body-text>span.img{
  display: inline-block;
  background-image: url('../img/logoChallenge.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 115px 115px;*/
  width:115px;
  height: 115px;
  content: "";
}

.body-bubble{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
}

.chal{
  width: 100%;
  height: 90px;
  background: #30b26e;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-family: san-frediano-regular;
  font-size: 1.7em;
  line-height: 90px;
}
button.chal:active, button.chal:active{
  -webkit-box-shadow:inset 0 0 105px 0 #1e8cd6;
  box-shadow:inset 0 0 105px 0 #1e8cd6;
  border-radius: 3px;
  outline: none;
}
button.chal:focus, button.chal:focus{
  outline: none;
}

.chal-name{
  color: #fff;
}

.chal-point{
  color: #0c5e33;
  font-style: italic;
}

/*
 *  drawer-panel
 */
 hr{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
 }

 .drawer-panel{
  position: fixed;
  top: 100px;
  left:0;
  z-index: 11;
  background: #292b2a;
  color: #FFF;
  width: 60%;
  height: 100%;
  font-weight: bold;
  font-size: 2em;
 }

.drawer-panel>ul{
  display: block;
  list-style: none;
}

.drawer-panel>ul li{
  display: block;
  width: 95%;
  height: 50px;
  border-bottom: solid thin #fff;
  padding-top: 5%;
  padding-left: 5%;
}
.drawer-panel>ul li:last-child,.drawer-panel>ul li:nth-child(2){
  border: none;
}

/*
 *
 */
.backChal{
  background-image: url('../img/backChal.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 230px;
  text-align: center;
  font-size: 2em;
  padding-top: 40px;
  overflow: hidden;
}

.backChal .back-black{
  color: #000;
  font-weight: bold;
}
.backChal .back-black{
  color: #fff;
  font-weight: normal;
}

.button{
  background-image: url('../img/boutton.png');
  background-repeat: no-repeat;
  width: 325px;
  height: 335px;
  margin: auto;
}
}


/**********************************************************/
/*******************Default layout*************************/
/**********************************************************/

/*
 *  costom css
 */
@font-face{
  font-family: san-frediano-bold;
  src: url("../font/san-frediano-bold.otf");
}
@font-face{
  font-family: san-frediano-regular;
  src: url("../font/san-frediano-regular.otf");
}
 /*
  * header
  */
 body{
  background-image: url('../img/back.png');
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
 }
 a{
  color: #FFF;
  text-decoration: none;
 }
.head-mini{
  width: 100%;
  height: 100px;
  background-color: #292b2a;
  top: 0;
  left:0;
  position: absolute;
  /*text-align: center;*/
  border:none;
  white-space: nowrap;
  z-index: 11;
}
.hlogo{
  display: inline-block;
  width: 58%;
  height: 100px;
  /*padding-top: 26px;*/
  position: relative;
  top:22px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  border:none;
}

.head-left, .head-right{
  display: inline-block;
  width: 20%;
  height: 100px;
  border:none;
}

.btn{
  width:60px;
  height: 40px;
  margin:30px;
  background: none;
  border:none;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

button.menu{
  background-image: url('../img/menu-white.png');
  background-size: 40px 30px;
}
button.settings{
  background-image: url('../img/settings-white.png');
  background-size: 40px 40px;
}

button.btn:active, button.btn:active{
  border: solid thin #fff;
  border-radius: 3px;
  outline: none;
}
button.btn:focus, button.btn:focus{
  outline: none;
}

/*
 *  app body
 */
.body{
  font-family: san-frediano-bold;
  position: fixed;
  top: 100px;
  left:0;
  width: 100%;  
}
button.back{
  background-image: url('../img/arrow.png');
  background-size: 40px 40px;
}
.body-text{
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
.body-text>span{
  display: inline-block;
}

.body-text>span.img{
  display: inline-block;
  background-image: url('../img/logoChallenge.png');
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: 115px 115px;*/
  width:115px;
  height: 115px;
  content: "";
}

.body-bubble{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
}

.chal{
  width: 100%;
  height: 90px;
  background: #30b26e;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-family: san-frediano-regular;
  font-size: 1.7em;
  line-height: 90px;
}
button.chal:active, button.chal:active{
  -webkit-box-shadow:inset 0 0 105px 0 #1e8cd6;
  box-shadow:inset 0 0 105px 0 #1e8cd6;
  border-radius: 3px;
  outline: none;
}
button.chal:focus, button.chal:focus{
  outline: none;
}

.chal-name{
  color: #fff;
}

.chal-point{
  color: #0c5e33;
  font-style: italic;
}

/*
 *  drawer-panel
 */
 hr{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
 }

 .drawer-panel{
  position: fixed;
  top: 100px;
  left:0;
  z-index: 11;
  background: #292b2a;
  color: #FFF;
  width: 60%;
  height: 100%;
  font-weight: bold;
  font-size: 2em;
 }

.drawer-panel>ul{
  display: block;
  list-style: none;
}

.drawer-panel>ul li{
  display: block;
  width: 95%;
  height: 50px;
  border-bottom: solid thin #fff;
  padding-top: 5%;
  padding-left: 5%;
}
.drawer-panel>ul li:last-child,.drawer-panel>ul li:nth-child(2){
  border: none;
}

/*
 *
 */
.backChal{
  background-image: url('../img/backChal.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 230px;
  text-align: center;
  font-size: 2em;
  padding-top: 40px;
  overflow: hidden;
}

.backChal .back-black{
  color: #000;
  font-weight: bold;
}
.backChal .back-black{
  color: #fff;
  font-weight: normal;
}

.button{
  background-image: url('../img/boutton.png');
  background-repeat: no-repeat;
  width: 325px;
  height: 335px;
  margin: auto;
}